*{
  margin:0px;
  padding:0px;
}
.backgroundDiv{
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toDoDiv{
  height: 70%;
  width: 22%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: whitesmoke;
  justify-content: center;
}
.heading{
  width: 100%;
  height:10%;
  background-color: rgb(134, 114, 168);
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  text-align: center;
}
.inputFieldDiv{
  height: 10%;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.inuptField{
  height: 100%;
  width: 80%;
  /* background-color: rgb(134, 114, 168); */
}
.inuptField input{
  height: 85%;
  width: 80%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 1px;
  margin-left: 40px;
  border-bottom: 3px rgb(134, 114, 168) solid ;
  /* background-color: teal; */
}
.addButton{
  height: 100%;
  width: 20%;
  /* background-color: tomato; */
}
.addButton button{
  margin-left: 10px;
  background-color: rgb(134, 114, 168);
  height: 100%;
  width: 70%;
  border-radius: 100px;
  border: 1px rgb(134, 114, 168) solid;
  outline-style: none;

}
.addButton button:hover{
background-color: rgb(88, 165, 88);
border: 1px rgb(88, 165, 88) solid;
}

.toDoListsItem{
  height: 65%;
  width: 95%;
  /* background-color: green; */
}
.toDoListsItem ul{
  list-style: none;
}
.toDoListsItem ul li{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: rgb(121, 38, 38);
}
.toDoListsItem ul li i{
  color: rgb(134, 114, 168);
  margin: 10px;
}
.toDoListsItem ul li i:hover{
  color: rgb(228, 26, 26);
}